{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $name := promptStringOnce . "name" "Git name" -}}
sourceDir = {{ (joinPath .chezmoi.homeDir ".dotfiles") | quote }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
