# Included by ~/.gitconfig for anything under {{ .projectsDir }}/ -
# see the [includeIf "gitdir:..."] block at the end of dot_gitconfig.tmpl.
[user]
	email = {{ .workEmail }}
[credential "https://github.com"]
	username = jomatelli
